[submodule "xabber/otr4j"]
	path = xabber/otr4j
	url = https://github.com/otr4j/otr4j.git
[submodule "xabber/MemorizingTrustManager"]
	path = xabber/MemorizingTrustManager
	url = https://github.com/redsolution/MemorizingTrustManager.git
