<?xml version="1.0" encoding="utf-8"?><!--
 Copyright (c) 2013, Redsolution LTD. All rights reserved.

     This file is part of Xabber project; you can redistribute it and/or
     modify it under the terms of the GNU General Public License, Version 3.

     Xabber is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
     See the GNU General Public License for more details.

     You should have received a copy of the GNU General Public License,
     along with this program. If not, see http://www.gnu.org/licenses/.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xabber.android">

    <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".data.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_title_full"
        android:theme="@style/Theme"
        tools:replace="label, icon, allowBackup"

        android:hardwareAccelerated="true">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${crashlytics}"
            />

        <activity
            android:name=".ui.activity.ContactListActivity"
            android:label="@string/application_title_full"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="xmpp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="imto" />
                <data android:host="jabber" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="imto" />
                <data android:host="gtalk" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoadActivity"
            android:noHistory="true"
            />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/about_viewer"
            android:parentActivityName=".ui.preferences.PreferenceEditor"
            android:theme="@style/ThemeDark">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>

        <activity
            android:name=".ui.activity.AccountListActivity"
            android:label="@string/preference_accounts"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.activity.OccupantListActivity"
            android:label="@string/occupant_list"
            android:parentActivityName=".ui.activity.ChatActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ChatActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ChatActivity"
            android:label="@string/chat_viewer"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.ContactListActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ContactListActivity" />
        </activity>
        <activity
            android:name=".ui.activity.GroupEditActivity"
            android:parentActivityName=".ui.activity.ContactActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ContactActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ContactAddActivity"
            android:label="@string/contact_add"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ui.activity.AccountListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountListActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AccountAddActivity"
            android:label="@string/account_add"

            android:screenOrientation="portrait"
            tools:replace="screenOrientation"

            android:parentActivityName=".ui.activity.AccountListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountListActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ConferenceAddActivity"
            android:label="@string/muc_add"
            android:parentActivityName=".ui.activity.ConferenceSelectActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ConferenceSelectActivity" />
        </activity>
        <activity
            android:name=".ui.activity.StatusEditActivity"
            android:label="@string/status_editor"
            android:parentActivityName=".ui.activity.ContactListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ContactListActivity" />
        </activity>
        <activity
            android:name=".ui.preferences.PreferenceEditor"
            android:label="@string/preference_editor"
            android:parentActivityName=".ui.activity.ContactListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ContactListActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ContactActivity"
            android:label="@string/contact_viewer"
            android:parentActivityName=".ui.activity.ChatActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ChatActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="@string/contact_viewer_mime_type" />
                <data android:scheme="content" />
                <data android:host="com.android.contacts" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ContactEditActivity"
            android:label="@string/contact_viewer"
            android:parentActivityName=".ui.activity.ChatActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ChatActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AccountActivity"
            android:parentActivityName=".ui.activity.ContactListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountListActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AccountInfoEditorActivity"
            android:parentActivityName=".ui.activity.AccountActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountActivity" />
        </activity>
        <activity
            android:name=".ui.activity.FingerprintActivity"
            android:label="@string/otr_verify_fingerprint"
            android:parentActivityName=".ui.activity.ChatActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ChatActivity" />
        </activity>
        <activity
            android:name=".ui.activity.QuestionActivity"
            android:label="@string/otr_verify_fingerprint"
            android:parentActivityName=".ui.activity.ChatActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ChatActivity" />
        </activity>
        <activity
            android:name=".ui.preferences.PhraseList"
            android:parentActivityName=".ui.preferences.NotificationsSettings">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.NotificationsSettings" />
        </activity>
        <activity
            android:name=".ui.preferences.PhraseEditor"
            android:parentActivityName=".ui.preferences.PhraseList">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PhraseList" />
        </activity>
        <activity
            android:name=".ui.preferences.PhraseAdder"
            android:parentActivityName=".ui.preferences.PhraseList">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PhraseList" />
        </activity>
        <activity android:name=".ui.activity.ReconnectionActivity" />
        <activity
            android:name=".ui.activity.ClearNotificationsActivity"
            android:excludeFromRecents="true"
            android:label="ClearNotifications"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:taskAffinity="" />
        <activity
            android:name=".ui.preferences.ThemeSettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.preferences.ContactListSettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.preferences.ChatGlobalSettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.preferences.NotificationsSettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.preferences.ConnectionSettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.preferences.SecuritySettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.preferences.DebugSettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.preferences.PresenceSettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.preferences.PrivacySettings"
            android:parentActivityName=".ui.preferences.PreferenceEditor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.PreferenceEditor" />
        </activity>
        <activity
            android:name=".ui.activity.ConferenceSelectActivity"
            android:parentActivityName=".ui.activity.ContactListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ContactListActivity" />
        </activity>
        <activity android:name=".ui.activity.ConferenceFilterActivity" />
        <activity
            android:name=".ui.activity.BlockedListActivity"
            android:parentActivityName=".ui.activity.AccountActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountActivity" />
        </activity>

        <service android:name=".service.XabberService" />
        <service android:name=".service.DownloadService" />
        <service android:name=".service.UploadService" />
        <service
            android:name=".service.PushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ShutDownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NotificationReceiver" />

        <activity android:name="de.duenndns.ssl.MemorizingActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <receiver android:name=".receiver.GoAwayReceiver" />
        <receiver android:name=".receiver.GoXaReceiver" />
        <receiver android:name=".receiver.ComposingPausedReceiver" />
        <receiver android:name=".receiver.NotificationCancelReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.activity.LogActivity"
            android:parentActivityName=".ui.preferences.DebugSettings">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.DebugSettings" />
        </activity>
        <activity
            android:name=".ui.activity.ServerInfoActivity"
            android:parentActivityName=".ui.activity.AccountActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountActivity" />
        </activity>
        <activity
            android:name=".ui.activity.BookmarksActivity"
            android:parentActivityName=".ui.activity.AccountActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AccountSyncActivity"
            android:parentActivityName=".ui.activity.AccountActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AccountSettingsActivity"
            android:parentActivityName=".ui.activity.AccountActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AccountHistorySettingsActivity"
            android:parentActivityName=".ui.activity.AccountActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.AccountActivity" />
        </activity>
        <activity android:name=".ui.activity.ImageViewerActivity"
            android:theme="@style/ThemeDark"
            android:parentActivityName=".ui.activity.ChatActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ChatActivity" />
        </activity>
        <activity android:name=".ui.activity.TutorialActivity"
            android:theme="@style/ThemeDark"/>
        <activity android:name=".ui.activity.XabberLoginActivity"
            android:theme="@style/Theme.Design.Light"/>

        <activity android:name=".ui.activity.XabberAccountActivity"
            android:theme="@style/ThemeDark"/>

        <activity android:name=".ui.activity.XAChangePassActivity" />
        <activity android:name=".ui.activity.PatreonAppealActivity"
            android:theme="@style/ThemeDark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ContactListActivity" />
        </activity>

        <activity android:name=".ui.activity.DeepLinkActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="www.xabber.com" />
                <data android:pathPrefix="/account/emails/confirmation" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:host="dev.xabber.com" />
                <data android:pathPrefix="/account/emails/confirmation" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/SOCIAL_AUTH_FACEBOOK_SCHEME" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ForwardedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ChatActivity" />
        </activity>
        <activity android:name=".ui.preferences.CustomNotifySettings"
            android:label="@string/custom_notifications"
            android:parentActivityName=".ui.activity.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.activity.ChatActivity" />
        </activity>
        <activity android:name=".ui.activity.AccountPushActivity" />
        <activity android:name=".ui.activity.ActiveSessionsActivity" />
        <activity android:name=".ui.activity.PushLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xabber.android.ui.preferences.DebugSettings"/>
        </activity>
        <activity android:name=".ui.activity.QRCodeScannerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.QRCodeActivity" />
    </application>

</manifest>